.new_character__tag{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  transform: translate(30px, 250px);
}
.new_character{
    transform: translate(30px, 250px);
  display: flex;
}
.new_character__description{
  display: column;
}
.new_character__name{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  margin: 60px 10px 30px;
}
.new_character__story{
  margin: 0px 10px;
  width: 350px;
  font-weight: 700;
  
}
.Fu_Xuan{
  height: 200px;
  width: 300px;
  border-radius: 15px;
  margin-top: 40px;
}