@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Open+Sans:wght@700&display=swap');
@import "reset.css";
@import "tier__tag.css";
@import "tier__search.css";
@import "op__tier_tag.css";
@import "first_tier_tag.css";
@import "new_character__tag.css";
* {
  box-sizing: border-box;
}
body{
  cursor: url(cursor.png) 30 30, auto;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.fa-star{
  color: #4B2C89;
}
