.tier__tag{
  background-color: #FFCE33;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.tier__title{
  font-size: 20px;
  transform: translateY(-3px);
  font-family: 'Noto Sans KR', sans-serif;
}